nav {
  background-color: #f8f8f8;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-left {
  flex: 1;
  text-align: left;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1em;
}

.navbar-text {
  font-weight: bold;
  font-size: 18px;
}

.navbar-link {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  background-color: transparent;
  border: none;
  padding: 1;
}

.navbar-dropdown {
  position: relative;
  display: inline-block;
}

.navbar-dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar-dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}

.HomeLink {
  text-decoration: none;
  color: #333;
}