.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding-bottom: 80px; /* Adjust this value based on the height of the footer */
}

.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Rest of your existing styles */


footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .social-icons {
    margin-bottom: 10px;
  }
  
  .social-icons a {
    color: #333;
    margin: 0 5px;
  }
  
  .social-icons a:hover {
    color: #666;
  }
  
  .social-icons a:hover i {
    transform: scale(1.2);
    color: #171515
  }
  
  p {
    color: #666;
    font-size: 14px;
    margin: 0;
  }
  
  .social-icons a i {
    transition: transform 0.3s;
  }
  