.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer-container {
  min-height: calc(100vh - 20px);
  position: relative;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #02312d;
  white-space: pre-wrap;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.footer-icons a {
  color: #036359;
  margin: 0 5px;
  transition: all 0.5s ease-in-out;
}

.footer-icons a:hover {
  color: #666;
  scale: 1.25;
  transition: all 0.5s ease-in-out;
}

.link{
  color: #024a43;
}

.link a:hover {
  scale: 1.25;
  transition: all 0.5s ease-in-out;
}