.App {
  text-align: center;
  margin-top: 50px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.main-content {
  padding-bottom: 150px;
}

h1 {
  margin-bottom: 20px;
}

.heading{
  color: #02312d;
}

h3 {
  color: #036359;
  margin-bottom: 10px;
}

.buttons {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #036359;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #555;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
}

p.answer {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  button {
    font-size: 14px;
  }
}

.back{
  color: #024a43;
}